.car__item {
    border: 1px solid var(--border-search-color);
    padding: 20px;
    border-radius: 5px;
}

.car__item-info span i {
color: var(--secondary-color);
font-size: 1.1rem;
}

.car__item-btn {
        background: var(--primary-color);
        padding: 8px 20px;
        border: none;
        outline: none;
        border-radius: 5px;
        width: 33%;

        margin: 0px 33%;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: var(--white-color);
          column-gap: 0.4rem;
          font-size: 0.9rem;  

   
        }

        &:hover {
            background: var(--white-color) !important;
            color : var(--primary-color) !important;
            font-weight: 700 !important;
            border: 1px solid var(--primary-color) !important;

            a {
                color: var(--primary-color);
            }
        }
        
    }
