
.service__item {
    span {
        i {
            font-size: 2.5rem ;
            color: var(--secondary-color);
        }
    }

    h6 {
        font-size: 1.2rem;
        font-weight: 600;
        transition: 0.3s;

        &:hover {
            color: var(--secondary-color);
        }
    }

}
