.movieCard {
    border-radius: 10; 
    overflow:"hidden"; 
    box-shadow: 0px 0px 8px #032541;
    width: calc(85vw/3); 
    height:670px ;
    margin: 30px auto;
} 

Card {
    width: calc(85vw/3); 
    height:670px ;  
}
 .movieCard:hover {
    transform: scale(1.08);
}
.myApp {
    display : grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    gap: 20px;
}